<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Order</h1>
    <p>
      .<br>
    </p>
    <p>
      A new order was placed from your store
    </p>
  </body>
</html>