/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 *= require animate
 */

$white: #fff;
$grey-ish: #333;
$bon_jour: #e1e1e1;
$beige: #f5f5dc;
$curious_blue: #219fd1;
$tapa: #777;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "products";
@import "basket";

.basket_nav{
font-size: 20px;
	.basket_count{
		color:$curious_blue;
		font-weight: strong;
		font-size:24px;
	}
}